@import 'layout.css';
@import 'metadata.css';
@import 'renamer.css';
@import 'media-editor.css';
@import 'edit-map-editor.css';
@import 'base.css';
@import 'shell.css';

/* Document root */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    overflow: hidden;
    word-break: normal;
}
